{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  h2 {
    text-align: center;
  }
  h6 {
    margin: 5px;
  }
  p {
    margin: 5px;
  }

  .col-md-6 {
    text-align: center;
  }

  .btn {
    float: right;
  }

  @media only screen and (max-width: 767px) {
    .col-md-6 {
      margin-top: 20px;
    }
  }
</style>
        {% include 'header.html' %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
  <div class="container">
   <h2>ATTENDENS DETAILS</h2>
   <br>
        <h6>Center:
            {{ center }}
        </h6>
        <h6>
            Section:
            {{ section }}
        </h6>
        <br>
    <p class="lead">Date: {{ attendance.date }}</p>
    <br>
    <div class="row">
      <div class="col-md-6">
        <h4>Present Students:</h4>
        <ul class="list-group">
          {% for student in present_students %}
            <li class="list-group-item">{{ student.full_name }}</li>
          {% empty %}
            <li class="list-group-item">No present students.</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-6">
        <h4>Absent Students:</h4>
        <ul class="list-group">
          {% for student in absent_students %}
            <li class="list-group-item">{{ student.full_name }}</li>
          {% empty %}
            <li class="list-group-item">No absent students.</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <a class="btn btn-secondary my-4" href="{% url 'edit_attendance' center_id=center.id section_id=section.id attendance_id=attendance.id %}">Edit</a>



  </div>
{% endblock %}
