<h2>centers</h2>

<a href="{% url 'center_add' %}"><button class="btn btn-primary shadow-md mr-2">Add New center</button></a>

<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>SL NO</th>
          <th>REF NO</th>
          <th>CENTER Name</th>
          <th>LOCATION</th>
          <th>NUMBER OF STUDENTS</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        {% for center in centers %}
            <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ center.ref_number }}</td>
            <td>{{ center.name }}</td>
            <td>{{ center.location }}</td>
            <td>{{ center.student_count }}</td>
            <td>
                <a href="{% url 'center_student_list' center.id  %}" style="margin-left: 15px;">
                    <i style="font-size: 20px;color: blue;" class='bx bx-show'></i>
                </a>
                <a  href="{% url 'center_edit' center.id %}" > 
                    <i style="font-size: 20px;color: black;" class='bx bxs-edit-alt'></i>
                </a>
                <a href="{% url 'center_delete' center.id %}">
                    <i style="font-size: 20px;color: red;" class="bx bxs-trash-alt"></i></a>
                </a>
            </td>
            </tr>
            
        {% endfor %}
      </tbody>
    </table>
  </div>
  