{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    {% include 'header.html' %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">{{ student.full_name }}</h2>
                        <p class="card-text text-center">{{ student.date_Of_birth }}</p>
                        <hr>
                        <h5 class="card-title">Contact Information</h5>
                        <ul class="list-unstyled">
                            <li>Mobile: {{ student.phone_number }}</li>
                            <li>Email: {{ student.email }}</li>
                            <li>Guardian Name: {{ student.guardian_name }}</li>
                            <li>Guardian Number: {{ student.guardian_phone_number }}</li>
                        </ul>
                        <hr>
                        <h5 class="card-title">Other Details</h5>
                        <ul class="list-unstyled">
                            <li>Address: {{ student.street_address }}</li>
                            <li>City: {{ student.city }}</li>
                            <li>State: {{ student.state }}</li>
                            <li>Zip Code: {{ student.zipcode }}</li>
                        </ul>
                        <hr>
                        <h5 class="card-title">Center Details</h5>
                        <ul class="list-unstyled">
                            <li>Center: {{ student.center.name }}</li>
                            <li>Age Group: {{ student.age_group }}</li>
                            <li>Playing Position: {{ student.football_playing_position }}</li>
                            <!-- <li>ID Proof: {{ student.id_proof }}</li> -->
                            <li>Travel Mode: {{ student.mode_of_travel }}</li>
                        </ul>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock content %}
